.Rproj.user
.Rhistory
.RData
.*.Rnb.cached
_publish.R
_book
_bookdown_files
*.aux
*.out
*.fdb_latexmk
*.log
*.toc
*.fls
*.tex
main.*
elsa*
libs/*
_bookdown_files/*
_book/*
bookdown/*
test/*
*.sublime*
ftp_cache/*
ftp_files/*
ftp.Rmd
ftp.bcf
ftp.run.xml
ftp.bbl
ftp.blg
ftp.idx
ftp.ilg
ftp.ind
ftp.synctex.gz
*.bak
ftp.pdf
public/libs/*
public/ftp_files/*
public/*.png
public/*.jpg
public/index.md
public/.htaccess
public/search_index.json
public/style.css
public/*
.DS_Store
